# Python
__pycache__/
*.pyc
*.pyo

# Virtual Env
.venv/

# Environment
.env

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# Cache
.pytest_cache/

# OS
.DS_Store

# Build
dist/
build/

# Coverage
.coverage
htmlcov/

output/